<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 	<meta charset="utf-8">
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
    
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignup.html">Sign Up</a>
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Python Flask App</h3>
        </div>
 
        <div class="jumbotron">
	    <p><a class="btn btn-lg btn-success" href="download/cert.pem" role="button">Download Certificate</a></p>
	    {% for item in files %}
		<table>
		    <tr>
			<th>Filename</th>
			<th>Download</th>
		    </tr>
		    <tr>
			<td><h5>{{item}}</h5></td>
			<td><p><a class="btn btn-lg btn-success" href="download/{{item}}" role="button">Download</a></p></td>
			<!--<td><p><a class="btn btn-lg btn-success" href="download/{{item}}" role="button">Download</a></p></td>-->
		    </tr>
		</table>
	    {% endfor %}
	    {% for item in hash_files %}
	    	<p><a class="btn btn-lg btn-success" href="download/{{item}}" role="button">Download hash_1</a></p>
	    {% endfor %}
        </div>
 
 
    </div>
</body>
 
</html>
